# Ignore PyCharm/IntelliJ IDEA project files
.idea/

# Ignore backup-repository folder
backup-repository.git/

# Ignore Visual Studio Code project files
.vscode/

# Ignore Python cache files
__pycache__/

# Ignore virtual environment files
.venv

# Ignore environment files
.env

# Ignore qodana server-side analysis
.yaml

# Ignore qodana server-side analysis
qodana.yaml

# Ignore docker-compose file
docker-compose.yml