{# Dashboard Navigation #}
<div class="dashboard-left-content">
    <div class="dashboard-close-main">
        <div class="close-bars"><i class="las la-times"></i></div>
        <div class="dashboard-bottom">
            <ul class="dashboard-list list-style-none">
                <li class="list active">
                    <a href="{{ url_for('user_route.dashboard') }}"> <i class="las la-briefcase"></i> Dashboard </a>
                </li>
                <li class="list">
                    <a href="javascript:void(0);">
                        <i class="las la-times-circle"></i>
                        Cancellation & Refund
                    </a>
                </li>
                <li class="list">
                    <a href="dashboard_report_issue.html"> <i class="las la-exclamation-triangle"></i>
                        Report an issue/Feedback <span class="badge-notification"> 0 </span> </a>
                </li>
                <li class="list has-children">
                    <a href="javascript:void(0)"> <i class="las la-user-circle"></i> Profile </a>
                    <ul class="submenu list-style-none">
                        <li class="list"><a href="{{ url_for('user_route.profile') }}"> Profile </a></li>
                        <li class="list"><a href="{{ url_for('user_route.update_profile') }}"> Edit Profile </a></li>
                        <li class="list"><a href="{{ url_for('user_route.update_password') }}"> Password Change </a></li>
                    </ul>
                </li>
                <!--li class="list has-children">
                    <a href="javascript:void(0)"> <i class="las la-headset"></i> Support </a>
                    <ul class="submenu list-style-none">
                        <li class="list"><a href="dashboard_support.html"> Support </a></li>
                        <li class="list"> <a href="dashboard_tickets.html"> Tickets  </a> </li>
                        <li class="list"> <a href="dashboard_add_tickets.html"> Add Tickets  </a> </li>
                    </ul>
                </li-->
                <li class="list">
                    <a href="{{ url_for('auth_route.logout')}}"> <i class="las la-sign-out-alt"></i> Log Out </a>
                </li>
            </ul>
        </div>
    </div>
</div>