{% extends 'auth_base.html' %}
{% block content %}

    <!-- login Area Starts -->
    <section class="l-area padding-top-100 padding-bottom-100">
        <div class="container">
            <div class="login-wrapper login-shadow bg-white">
                <div class="login-wrapper-flex">
                    <div class="login-wrapper-thumb">
                        <img src="{{ url_for('static', filename='assets/img/single-page/login.jpg') }}" alt="img">
                    </div>
                    <div class="login-wrapper-contents login-padding">
                        <div class="justify-content-center">
                            <a href="{{url_for('main_route.index')}}" class="logo ">
                                <img src="{{ url_for('static', filename='assets/img/logo.png') }}" class="m-5" width="250px" alt="">
                            </a>
                        </div>

                        <h2 class="single-title"> Welcome to STAYCATION! </h2>

                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }} alert-dismissible fade show mt-2" role="alert">
                                        <strong>{{ category | title }}!</strong> {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                        <form class="login-wrapper-form custom-form padding-top-20"  method="POST" action="{{ url_for('auth_route.register') }}">
                            <div class="input-flex-item">
                                <div class="single-input mt-4">
                                    <label class="label-title mb-3"> First Name </label>
                                    <input class="form--control" type="text" name="firstName" placeholder="Type First Name">
                                </div>
                                <div class="single-input mt-4">
                                    <label class="label-title mb-3"> Last Name </label>
                                    <input class="form--control" type="text" name="lastName" placeholder="Type Last Name">
                                </div>
                            </div>

                            <div class="single-input mt-4">
                                <label class="label-title mb-3"> Email Address </label>
                                <input class="form--control" type="text" name="email" placeholder="Type Email">
                            </div>
                            <div class="single-input mt-4">
                                <label class="label-title mb-3"> Phone Number </label>
                                <input class="form--control" type="tel" id="phone" name="phone">
                            </div>
                            <div class="input-flex-item">
                                <div class="single-input mt-4">
                                    <label class="label-title mb-3"> Create Password </label>
                                    <input class="form--control" type="password" name="password" placeholder="Type Password">
                                    <div class="icon toggle-password">
                                        <div class="show-icon"> <i class="las la-eye-slash"></i> </div>
                                        <span class="hide-icon"> <i class="las la-eye"></i> </span>
                                    </div>
                                </div>
                                <div class="single-input mt-4">
                                    <label class="label-title mb-3"> Confirm Password </label>
                                    <input class="form--control" type="password" name="confirmPassword" placeholder="Confirm Password">
                                    <div class="icon toggle-password">
                                        <div class="show-icon"> <i class="las la-eye-slash"></i> </div>
                                        <span class="hide-icon"> <i class="las la-eye"></i> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="checkbox-inline mt-4">
                                <input class="check-input" type="checkbox" id="check15">
                                <label class="checkbox-label" for="check15"> By creating an account, you agree to the <a class="color-one" href="javascript:void(0)"> terms of service </a> and <a class="color-one" href="javascript:void(0)"> Conditions </a>,
                                    and <a class="color-one" href="javascript:void(0)"> privacy policy </a> </label>
                            </div>
                            <button class="submit-btn w-100 mt-4" type="submit"> Sign Up Now </button>
                            <span class="account color-light mt-3"> Already have an account?
                                <a class="color-one" href="{{ url_for('auth_route.login') }}"> Login </a>
                                <br>
                                <br>
                                <a class="color-one btn btn-outline-primary" href="{{ url_for('main_route.index') }}"> Home?</a>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- login Area end -->

{% endblock %}
